<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="BlueFoxFeed" value="https://bluefoxinc.pkgs.visualstudio.com/_packaging/Packages/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<BlueFoxFeed>
			<add key="Username" value="BlueFox" />
			<add key="ClearTextPassword" value="hr7mqcbf5gfndcn4ifygu3qlai7n7cp6l5cx7w7bufoqt2cs5dfa" />
		</BlueFoxFeed>
	</packageSourceCredentials>
</configuration>


